

.form input {
    width: 60%;
    height: 2rem;
    text-align: center;
    
  }

.form button {
    padding: 0 1rem;
    position: absolute;
    height: 2.5rem;
    margin: 0 2rem;
  }

.form {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.form h1{
    color:blue

}

.item{
    border:dashed 5px yellow;
    border-radius: 5%;
    position: relative;
    padding: 1rem;
    margin: 1rem;
}

.item  a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }

.btnGet {
    background-color: #ccc;
    color: black;
}

.btnGet:hover{
    background-color: black;
    color: white;
}

.Lab1 .form .item .date{
    text-align: right !important;
}

ol {
    margin-top: 5rem;
}
